.social-logins {
  display: flex;
  ion-button {
    width: 100%;
    flex-basis: 50%;
  }
}
ion-list {
  padding: 0;
}
ion-button {
  margin: 0;
}
ion-button.facebook {
  --background: #3b5998;
  height: 3em;
}
ion-button.google {
  --background: #db3236;
  height: 3em;
}
ion-button.login {
  flex: 1;
  height: 3em;
}
ion-button.register {
  height: 3em;
}
.login-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.bottom-buttons {
  display: flex;
  margin-top: 10px;
  ion-button {
    --padding-start: 0;
    --padding-end: 0;
  }
}
.errorMsg {
  font-size: small;
  color: rgb(170, 4, 4);
}
.tsandcs {
  font-size: x-small;
  span {
    text-decoration: underline;
    cursor: pointer;
  }
}
