/************************************ Problem Card *****************************************/
ion-card {
  --background: white;
  padding: 5px;
  width: 100%;
  margin: 0;
}
.problem-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  cursor: pointer;
}
.problem-image {
  height: 50%;
  width: 70%;
  margin: auto;
}
.problem-image > img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
.problem-difficulty {
  height: 1rem;
  display: flex;
  align-items: center;
}
.problem-title {
  height: 3rem;
  margin-top: 1rem;
}
.difficulty {
  width: 10px;
  height: 10px;
  margin-left: auto;
  border-radius: 50%;
}
.difficulty.easy {
  background: var(--ion-color-easy);
}
.difficulty.medium {
  background: var(--ion-color-medium);
}
.difficulty.hard {
  background: var(--ion-color-hard);
}
/******************************************* Grid ****************************************************/
// https://medium.com/cloudaper/how-to-create-a-flexible-square-grid-with-css-grid-layout-ea48baf038f3
.grid {
  margin: 0 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 5px;
}

.grid::before {
  content: "";
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.grid > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.padder {
  flex: 1;
}
/******************************************* Footer ****************************************************/
.tab-footer {
  height: 60px;
  padding: 10px;
  background: var(--ion-color-primary);
  display: flex;
  text-align: center;
  color: white;
  align-items: center;
}
.tab-footer > div {
  flex: 1;
}

/******************************************* Misc ****************************************************/
.icon--large {
  font-size: 32px;
}
