<ion-header class="header--curved">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Problems</ion-title>
    <ion-buttons slot="end">
      <app-profile-button></app-profile-button
    ></ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content--curved">
  <app-problem-card></app-problem-card>
  <ion-grid fixed style="margin-top: -20px">
    <ion-row>
      <!-- take different % of 12 cols on different screensize (see layout.scss for breakpoints) -->
      <ion-col
        size-xs="6"
        size-sm="4"
        size-md="3"
        size-xl="2"
        *ngFor="let problem of problems"
      >
        <app-problem-card
          [problem]="problem"
          [routerLink]="['/p/' + problem.slug]"
        ></app-problem-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <!-- can only bind to user$.email or similar via https://toddmotto.com/angular-ngif-async-pipe -->
  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    routerLink="/new-problem"
    *ngIf="(user$ | async)"
    class="show-sm"
  >
    <ion-fab-button>
      <ion-icon class="icon--large" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <!-- <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    class="hide-sm"
    (click)="showFilters()"
  >
    <ion-fab-button>
      <ion-icon class="icon--large" src="/assets/svgs/filter.svg"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
  <app-sw-check></app-sw-check>
</ion-content>

<!-- <footer class="tab-footer">
  <div>
    <ion-item routerLink="/problems">
      <ion-icon
        class="icon--large white"
        slot="start"
        src="/assets/svgs/problems.svg"
      ></ion-icon>
      <ion-label> Problems </ion-label>
    </ion-item>
  </div>
  <div style="opacity: 0.8">
    <ion-item routerLink="/my-club">
      <ion-icon
        class="icon--large white"
        slot="start"
        src="/assets/svgs/teamwork.svg"
      ></ion-icon>
      <ion-label> My Club </ion-label>
    </ion-item>
  </div>
</footer> -->
