/******************************************* Footer ****************************************************/
.tab-footer {
  height: 60px;
  padding: 10px;
  background: var(--ion-color-primary);
  display: flex;
  text-align: center;
  align-items: center;
}
.tab-footer > div {
  flex: 1;
  display: flex;
  justify-content: center;
}
