service cloud.firestore {
	// rules will apply to all docs in database
  match /databases/{database}/documents {
    // Function to check whether request user has specific permission set in user database
    function checkUserPermission(permission){
      return get(/databases/$(database)/documents/users/$(request.auth.token.email)).data.permissions[permission]==true
    }
		// users can read/write their own user docs    
    match /users/{userEmail} {
    allow read, write: if request.auth.token.email == userEmail
    }
		// anyone can read all problems docs and any in subcollections
		// only editors can make changes
		match /problemsV1/{document=**} {
    allow read; 
    allow write: if checkUserPermission("editor")
    }
    // admin can read and write all docs (unless superceded by following rules)
    match /{document=**} {
    allow read, write: if checkUserPermission("admin")
    }
	}
}

