<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="isLoading"></ion-title>
    <ion-title *ngIf="!isLoading"
      >{{
        problem
          ? problem.title
            ? problem.title
            : "Add New Problem"
          : "Not Found"
      }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="problem">
  <ion-input required type="text" placeholder="Title" class="problem-title">{{
    problem.title
  }}</ion-input>
  <!-- <quill-editor theme="bubble" placeholder="Student Version"></quill-editor> -->
  <app-html-editor></app-html-editor>
</ion-content>
