.a4-page {
  height: 29.7cm;
  width: 21cm;
  padding: 1.27cm;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}
.problem-title {
  font-size: 32px;
  text-align: center;
}
.problem-content {
  margin-top: 24px;
}
.problem-editor {
  li {
    margin-bottom: 1em !important;
  }
}
