<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="save()" [disabled]="saveStatus">{{
        saveStatus ? saveStatus : "save"
      }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="problem">
  <div class="problem edit">
    <ion-item>
      <ion-input
        type="text"
        placeholder="Title"
        class="title--large"
        color="primary"
        autofocus
        [(ngModel)]="problem.title"
        (ngModelChange)="updateSlug($event)"
        >{{ problem.title }}</ion-input
      >
    </ion-item>
    <div class="problem-content">
      <app-html-editor
        class="problem-editor"
        [(html)]="problem.studentVersion.content"
      ></app-html-editor>
    </div>
  </div>
</ion-content>
