:root {
  --ion-color-primary: hsl(210, 100%, 67%);
  --ion-color-primary-rgb: 86, 170, 254;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 0, 0, 0;
  --ion-color-primary-shade: hsl(210, 100%, 57%);
  --ion-color-primary-tint: hsl(210, 100%, 77%);

  --ion-color-sami: hsl(191, 100%, 47%);
  --ion-color-sami-rgb: 0, 195, 239;
  --ion-color-sami-contrast: #ffffff;
  --ion-color-sami-contrast-rgb: 0, 0, 0;
  --ion-color-sami-shade: hsl(191, 100%, 37%);
  --ion-color-sami-tint: hsl(191, 100%, 57%);

  --ion-color-easy: #b1cf6c;
  --ion-color-easy-rgb: 177, 207, 108;
  --ion-color-easy-contrast: #000000;
  --ion-color-easy-contrast-rgb: 0, 0, 0;
  --ion-color-easy-shade: #9cb65f;
  --ion-color-easy-tint: #b9d47b;

  --ion-color-medium: #e0c725;
  --ion-color-medium-rgb: 248, 219, 34;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #dac11e;
  --ion-color-medium-tint: #f9df38;

  --ion-color-hard: #da6f74;
  --ion-color-hard-rgb: 245, 128, 133;
  --ion-color-hard-contrast: #000000;
  --ion-color-hard-contrast-rgb: 0, 0, 0;
  --ion-color-hard-shade: #d87175;
  --ion-color-hard-tint: #f68d91;

  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  --ion-color-light: hsl(207, 31%, 94%);
  --ion-color-light-rgb: 236, 241, 245;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: hsl(207, 31%, 84%);
  --ion-color-light-tint: hsl(207, 31%, 100%);
}
