<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button *ngIf="problem" [routerLink]="['/p/' + problem.slug]"
        ><ion-icon src="/assets/svgs/back.svg"></ion-icon
      ></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button
        (click)="save()"
        [disabled]="saveStatus"
        *ngIf="problem && !problem.locked"
        >{{ saveStatus ? saveStatus : "save" }}</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="problem" scrollX>
  <div class="problem edit" *ngIf="!problem.locked">
    <ion-item>
      <ion-input
        type="text"
        placeholder="Title"
        class="title--large"
        color="primary"
        autofocus
        [(ngModel)]="problem.title"
        (ngModelChange)="updateSlug($event)"
      ></ion-input>
    </ion-item>
    <div class="problem-content">
      <app-html-editor
        class="problem-editor"
        [(html)]="problem.studentVersion.content"
      ></app-html-editor>
    </div>
  </div>
  <div *ngIf="problem.locked">This problem has been locked from editing.</div>
</ion-content>
