<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button *ngIf="problem" [routerLink]="['/p/' + problem.values.slug]"
        ><ion-icon src="/assets/svgs/back.svg"></ion-icon
      ></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button
        (click)="save()"
        [disabled]="saveStatus"
        *ngIf="problem && canEdit"
        >{{ saveStatus ? saveStatus : "save" }}</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="problem" scrollX>
  <!-- facilitator editor -->
  <h2>Facilitator Notes</h2>
  <div *ngIf="canEdit" style="margin-bottom:1em">
    <div style="display: flex" *ngIf="!showFileUploader">
      <app-file-detail
        [file]="problem.values.facilitatorVersion.pdf"
      ></app-file-detail>
      <ion-button
        (click)="replaceFacilitatorNotes()"
        fill="clear"
        style="margin-left:10px"
      >
        <ion-icon slot="start" name="repeat"></ion-icon>Replace</ion-button
      >
    </div>
    <app-file-uploader
      [storageFolder]="problem.values._key"
      (complete)="facilitatorNotesUploaded($event)"
      *ngIf="showFileUploader"
    ></app-file-uploader>
  </div>
  <!-- editor -->
  <div *ngIf="canEdit">
    <div class="problem edit">
      <ion-item>
        <ion-input
          type="text"
          placeholder="Title"
          class="title--large"
          color="primary"
          autofocus
          [(ngModel)]="problem.values.title"
          (ngModelChange)="updateSlug($event)"
        ></ion-input>
      </ion-item>
      <div class="problem-content">
        <app-html-editor
          class="problem-editor"
          [(html)]="problem.values.studentVersion.content"
        ></app-html-editor>
      </div>
    </div>
    <div>
      <ion-button
        (click)="deleteToggle()"
        *ngIf="problem && !problem.values._deleted"
        fill="clear"
        color="danger"
        ><ion-icon name="trash" slot="start"></ion-icon>Delete</ion-button
      >
      <ion-button
        (click)="deleteToggle()"
        *ngIf="problem && problem.values._deleted"
        fill="clear"
        color="success"
        ><ion-icon name="undo" slot="start"></ion-icon>Restore</ion-button
      >
    </div>
  </div>
  <!-- non-editor -->
  <div *ngIf="!canEdit">
    Sorry you don't have permissions to edit this problem
  </div>
</ion-content>
