<ion-header class="show-md">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()"
        ><ion-icon src="/assets/svgs/back.svg"></ion-icon
      ></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <a
        *ngIf="problem && problem.values.facilitatorVersion.downloadUrl"
        [href]="problem.values.facilitatorVersion.downloadUrl"
        download
        target="_blank"
      >
        <ion-button fill="clear"
          ><ion-icon slot="start" src="/assets/svgs/portfolio.svg"></ion-icon
          >Notes</ion-button
        >
      </a>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- mobile header -->
<div class="floating-header hide-md">
  <ion-button (click)="back()" fill="clear"
    ><ion-icon src="/assets/svgs/back.svg"></ion-icon
  ></ion-button>
  <a
    *ngIf="problem && problem.values.facilitatorVersion.downloadUrl"
    [href]="problem.values.facilitatorVersion.downloadUrl"
    download
    target="_blank"
  >
    <ion-button fill="clear"
      ><ion-icon slot="start" src="/assets/svgs/portfolio.svg"></ion-icon
      >Notes</ion-button
    >
  </a>
</div>

<ion-content style="background: white">
  <div *ngIf="problem" class="problem view">
    <div class="title--large">{{ problem.values.title }}</div>
    <div
      @fadein
      id="studentVersion"
      class="problem-content"
      [innerHtml]="studentVersionContent"
    ></div>
    <div *ngIf="!problem.values.locked" style="margin-top: 1em">
      <ion-button
        style="float:right"
        fill="clear"
        [routerLink]="['/p/' + problem.values.slug + '/edit']"
        >Edit</ion-button
      >
    </div>
  </div>
</ion-content>
