<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="back()"
        ><ion-icon src="/assets/svgs/back.svg"></ion-icon
      ></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button
        fill="clear"
        *ngIf="problem && facilitatorNotes"
        (click)="openFacilitatorNotes()"
        color="primary"
        ><ion-icon
          slot="start"
          src="/assets/svgs/portfolio.svg"
        ></ion-icon
        >Notes</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="background: white">
  <div *ngIf="problem" class="problem view">
    <div class="title--large">{{ problem.values.title }}</div>
    <div
      @fadein
      id="studentVersion"
      class="problem-content"
      [innerHtml]="studentVersionContent"
    ></div>
    <div *ngIf="canEdit" style="margin-top: 1em">
      <ion-button
        style="float:right"
        fill="clear"
        [routerLink]="['/p/' + problem.values.slug + '/edit']"
        >Edit</ion-button
      >
    </div>
  </div>
</ion-content>
